/* CSS File for Coffee Companion App - Account Page */
* {
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: var(--bg-color);
    display: flex;
    height: 100vh;
    align-items: center;
}

.container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20vh;
}

.bg-image {
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.header {
    font-size: 8rem;
    color: var(--text-white);
    font-family: "Style Script", sans-serif;
    margin-bottom: 4vh;
    margin-top: 12vh;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input {
    font-size: 1.25rem;
}

button {
    padding: 0.75rem 2rem;
    font-size: 1.25rem;
    border-radius: 12px;
}

label[for="email-login"], label[for="password-login"],
label[for="email-register"], label[for="password-register"], label[for="password-register-confirm"] {
    align-self: flex-start;
}

.footer {
    position: fixed;
    bottom: 2rem;
    left: 2.5rem;
    font-size: 1rem;
    color: #a6a6a6;
}

.switch-login-btn, .switch-register-btn {
    color: #fff;
    text-decoration: none;
}

.switch-login-btn:hover, .switch-register-btn:hover {
    color: #007bff;
}

div {
    color: rgb(255, 255, 255);
}