/* CSS File for Coffee Companion App - Account Page */
body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    height: 100vh;
}

.container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}

.bg-image {
    width: 60%;
    height: 100%;
}

.header {
    font-size: 8rem;
    color: var(--text-white);
    font-family: "Style Script", sans-serif;
    display: flex;
    margin-bottom: 4vh;
    margin-top: 12vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

button, input {
    font-size: 1.25em;
}

label[for="email-login"], label[for="password-login"],
label[for="email-register"], label[for="password-register"], label[for="password-register-confirm"] {
    align-self: flex-start;
}

.footer {
    position: fixed;
    bottom: 16px;
    left: 32px;
    font-size: 1rem;
    color: #a6a6a6;
}

.switch-login-btn, .switch-register-btn {
    color: #fff;
    text-decoration: none;
}

.switch-login-btn:hover, .switch-register-btn:hover {
    color: #007bff;
}

div {
    color: rgb(255, 255, 255);
}