/* CSS File for Coffee Companion App - Global */
:root {
    --bg-color: #241401;
    --text-white: white;
}

/* @font-face {
    font-family: "frederickathegreat";
    src: url("../assets/fonts/frederickathegreat.woff2") format("woff2"),
         url("../assets/fonts/frederickathegreat.woff") format("woff");
    font-weight: normal;
    font-style: normal;
} */