/* CSS File for Coffee Companion App - Home Page */
body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: grid;
    background-color: rgb(103, 26, 26);
    height: 80vh;
    width: 80vw;
    grid-template-columns: repeat(2, 1fr);
}

.log-container, .adjust-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

