/* CSS File for Coffee Companion App - Index Page */
body {
    background-color: #432b19;
    display: flex;
    justify-content: center;
}

.bg-image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  filter: blur(6px);
  opacity: 0.3;
  z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-size: 128px;
    color: #f5f2ee;
    font-family: "Style Script", sans-serif;
    display: flex;
    margin-top: 64px;
    margin-bottom: 96px;
}

.tagline {
    font-size: 50px;
    color: #f5f2ee;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    margin-bottom: 32px;
}

.start {
    width: 200px;
    height: 65px;
    font-size: 20px;
    background-color: #7ec449;
    font-family: "Comfortaa", sans-serif;
    border-radius: 32px;
    color: #f5f2ee;
    margin-bottom: 96px;
    
}

.features {
    font-size: 32px;
    color: #ffc67c;
    display: flex;
    font-family: "Comfortaa", sans-serif;
}

.features > div {
    padding: 100px;
    
}