/* CSS File for Coffee Companion App - Global */
:root {
	--bg-color: #241401;
	--bg-filter: linear-gradient(90deg, #180e01, #000000);
	--bg-white: #f2f3f4;
	--bg-tan: #f7f3e9;
	--text-white: white;
	--text-beige: #ffc67c;
	--main-btn: #df7b00;
	--golden-btn: rgb(250, 210, 55);
}

.fade-in {
	opacity: 0;
	transform: translateY(40px);
	transition: opacity 1.25s, transform 1.25s;
}

.fade-in.visible {
	opacity: 1;
	transform: translateY(0);
}

@media (max-width: 1200px) {
	.fade-in {
		transform: translateY(35px);
	}
}

@media (max-width: 768px) {
	.fade-in {
		transform: translateY(30px);
	}
}

@font-face {
	font-family: "Comfortaa";
	src: url("../assets/fonts/comfortaa-regular.woff2") format("woff2"),
		url("../assets/fonts/comfortaa-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("../assets/fonts/inter-regular.woff2") format("woff2"),
		url("../assets/fonts/inter-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Style Script";
	src: url("../assets/fonts/stylescript-regular.woff2") format("woff2"),
		url("../assets/fonts/stylescript-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Cabin Sketch";
	src: url("../assets/fonts/cabinsketch-regular.woff2") format("woff2"),
		url("../assets/fonts/cabinsketch-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Merriweather";
	src: url("../assets/fonts/merriweather.woff2") format("woff2"),
		url("../assets/fonts/merriweather.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans 3";
	src: url("../assets/fonts/sourcesans3.ttf") format("truetype");
	font-weight: 200 900;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/roboto.woff2") format("woff2"),
		url("../assets/fonts/roboto.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

/* Other */
@font-face {
	font-family: "1";
	src: url("../assets/fonts/black-coffee.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "2";
	src: url("../assets/fonts/caramel-macchiato.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
