/* CSS File for Coffee Companion App - Global */
:root {
	--bg-color: #241401;
	--bg-filter: linear-gradient(90deg, #180e01, #000000);
	--bg-white: #f5f5f5;
	--bg-tan: #f6f4f3;
	--text-beige: #ffc67c;
	--main-btn: #df7b00;
	--golden-btn: rgb(250, 210, 55);

	/* Main Palette */
	--main-one: 246, 242, 238;
	--main-two: 212, 188, 169;
	--main-three: 186, 148, 117;
	--main-four: 133, 97, 67;
	--main-five: 99, 72, 50;
	--main-six: 77, 56, 39;
	--main-seven: 56, 41, 28;
	--main-eight: 35, 26, 18;
	--main-nine: 14, 10, 7;

	/* Gray Palette */
	--gray-one: 248, 250, 251;
	--gray-two: 243, 245, 246;
	--gray-three: 203, 209, 214;
	--gray-four: 160, 172, 184;
	--gray-five: 92, 83, 83;
	--gray-six: 33, 37, 41;
	--gray-seven: 24, 27, 30;
	--gray-eight: 10, 11, 12;

	/* Accent Palette */
	--accent-one: 255, 198, 124;
}

.fade-in {
	opacity: 0;
	transform: translateY(40px);
	transition: opacity 1.25s, transform 1.25s;
}

.fade-in.visible {
	opacity: 1;
	transform: translateY(0);
}

@media (max-width: 1200px) {
	.fade-in {
		transform: translateY(35px);
	}
}

@media (max-width: 768px) {
	.fade-in {
		transform: translateY(30px);
	}
}

@font-face {
	font-family: "Comfortaa";
	src: url("../assets/fonts/comfortaa-regular.woff2") format("woff2"),
		url("../assets/fonts/comfortaa-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("../assets/fonts/inter-regular.woff2") format("woff2"),
		url("../assets/fonts/inter-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Style Script";
	src: url("../assets/fonts/stylescript-regular.woff2") format("woff2"),
		url("../assets/fonts/stylescript-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Cabin Sketch";
	src: url("../assets/fonts/cabinsketch-regular.woff2") format("woff2"),
		url("../assets/fonts/cabinsketch-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Merriweather";
	src: url("../assets/fonts/merriweather.woff2") format("woff2"),
		url("../assets/fonts/merriweather.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans 3";
	src: url("../assets/fonts/sourcesans3.ttf") format("truetype");
	font-weight: 200 900;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/roboto.woff2") format("woff2"),
		url("../assets/fonts/roboto.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

/* Other */
@font-face {
	font-family: "1";
	src: url("../assets/fonts/black-coffee.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "2";
	src: url("../assets/fonts/caramel-macchiato.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
