/* CSS File for Coffee Companion App - Home Page */

body {
	background-color: rgb(var(--gray-nine));
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Source Sans 3", sans-serif;
}

.main-container {
	display: grid;
	height: 100vh;
	width: 80vw;
	grid-template-columns: repeat(2, 1fr);
}

.log-container,
.adjust-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Comfortaa", sans-serif;
	gap: 2rem;
	color: rgb(var(--main-four));
}

.icon-container {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	background-color: rgba(var(--gray-eight), 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.45s, background-color 0.45s;
	user-select: none;
	border: 3px solid rgb(var(--main-five));
	cursor: pointer;
}

.icon-container:hover {
	transform: scale(1.1);
	background-color: rgba(var(--gray-eight), 1);
}

.icon {
	height: clamp(3rem, calc(1rem + 5vw), 6rem);
	width: clamp(3rem, calc(1rem + 5vw), 6rem);
	filter: brightness(0) invert(1);
}

.main-container .label {
	font-size: clamp(1rem, calc(1rem + 1vw), 2rem);
}

/* Log section of homepage */
.main-container-log {
	display: flex;
	justify-content: center;
	border-radius: 12px;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.entry-form {
	width: 60rem;
	min-height: 85vh;
	border-radius: 12px;
	border: 1px solid;
	background-color: rgb(var(--gray-eight));
}

.entries-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1.5rem 4rem 0 4rem;
	font-family: "Merriweather", sans-serif;
	color: rgb(var(--gray-one));
}

.divider {
	border-bottom: 1px solid rgba(var(--gray-one), 0.3);
	margin: 0 4rem 0 4rem;
}

.return-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0.75rem;
	font-size: 0.85rem;
	border-radius: 12px;
	transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	background-color: black;
	will-change: transform;
	color: white;
	font-weight: 500;
	font-family: "Source Sans 3", sans-serif;
}

.return-button:hover {
	cursor: pointer;
	box-shadow: none;
	transform: scale(0.98);
	background-color: rgb(30, 30, 30);
}

.entries-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem 0 2rem 0;
}

.entries-title {
	font-size: 2rem;
}

.entry-container {
	margin: 0 4rem 0 4rem;
	background-color: rgb(var(--main-four));
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	transition: filter 0.2s, transform 0.2s;
	position: relative;
	cursor: pointer;
}

.entry-container:hover {
	filter: brightness(0.88);
	transform: translateY(-2px);
}

.delete-entry-button {
	position: absolute;
	right: -45px;
	background-color: transparent;
	color: rgb(var(--main-five));
	border: none;
	font-size: 2.15rem;
	transition: color 0.2s, opacity 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.delete-entry-button:hover {
	color: rgb(255, 35, 35);
	cursor: pointer;
}

.entry-title {
	font-size: 1rem;
	color: rgb(var(--gray-two));
}

textarea {
	resize: none;
}

.entry-input {
	border: 2px solid rgb(var(--gray-seven));
	background-color: rgb(var(--gray-seven));
	transition: background-color 0.25s, border 0.25s;
	color: rgb(var(--gray-one));
	font-family: "Source Sans 3", sans-serif;
	font-size: 1rem;
	border-radius: 8px;
	padding: 0.5rem 0.75rem;
}

.entry-input::placeholder {
	color: gray;
}

.entry-input:hover {
	border: 2px solid rgb(var(--gray-six));
	background-color: rgb(var(--gray-eight));
}

.entry-input:focus {
	border: 2px solid rgb(var(--gray-five));
	background-color: rgb(var(--gray-nine));
	outline: none;
}

select.empty {
	color: gray;
}

select option {
	color: rgb(var(--gray-one));
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.add-entries-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-bottom: 2rem;
	padding: 0.5rem 1rem;
	font-size: 1.15rem;
	border-radius: 12px;
	transition: border 0.2s, transform 0.2s, box-shadow 0.2s;
	background: none;
	will-change: transform;
	font-weight: 600;
	font-family: "Source Sans 3", sans-serif;
	border: 2px solid rgba(var(--main-five), 0.8);
	color: rgb(var(--gray-one));
	cursor: pointer;
}

.add-entries-button:hover {
	border: 2px solid rgba(var(--main-five), 1);
	box-shadow: 0px 5px 15px rgba(255, 210, 128, 0.1);
	transform: scale(1.05);
}

.entry-row {
	display: flex;
	gap: 3rem;
	margin-bottom: 0.5rem;
}

.view-entry-container {
	padding: 0 1rem;
	border: 2px solid rgb(var(--gray-six));
	border-radius: 8px;
	flex: 1;
}

.view-entry-container > h2 {
	color: rgb(var(--gray-one));
}

.view-entry-container > p {
	color: rgb(var(--gray-two));
}

.entry-row > .view-entry-container:first-child {
	margin-left: 4rem;
}

.entry-row > .view-entry-container:last-child {
	margin-right: 4rem;
	margin-left: 2rem;
}

.entry-row > .view-entry-container:only-child {
	margin-left: 4rem;
	margin-right: 4rem;
}

.entry-row > .new-entry-container:only-child {
	flex: 1;
	padding-right: 4rem;
}

.new-entry-container {
	display: flex;
	flex-direction: column;
	flex: 0 0 calc(50% - 1.5rem);
	gap: 0.25rem;
	box-sizing: border-box;
}

.entry-row .new-entry-container:nth-child(1) {
	padding-left: 4rem;
}

.entry-row .new-entry-container:nth-child(2) {
	padding-right: 4rem;
}

.new-entry-container > h2 {
	margin: 0;
	padding: 0;
}

.cancel-entries-button {
	background-color: transparent;
	color: rgb(var(--main-five));
	border: none;
	transition: color 0.2s;
	font-size: 2.15rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cancel-entries-button:hover {
	color: rgb(255, 35, 35);
	cursor: pointer;
}

.circle {
	position: relative;
	width: 16rem;
	height: 16rem;
	margin: 0 auto 2.5rem auto;
}

.line {
	position: absolute;
	background-color: rgb(var(--gray-six));
	z-index: 2;
	opacity: 50%;
}

.line.vertical {
	width: 2px;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.line.horizontal {
	height: 2px;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.quadrant {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50.2%;
	height: 50.2%;
	cursor: pointer;
	gap: 0.25rem;
	background-color: rgb(var(--gray-seven));
	border: none;
	transition: filter 0.2s, transform 0.2s;
	color: rgb(var(--gray-one));
}

.quadrant.top-left {
	top: 0;
	left: 0;
	border-top-left-radius: 100%;
	transform-origin: bottom right;
}
.quadrant.top-right {
	top: 0;
	right: 0;
	border-top-right-radius: 100%;
	transform-origin: bottom left;
}
.quadrant.bottom-left {
	bottom: 0;
	left: 0;
	border-bottom-left-radius: 100%;
	transform-origin: top right;
}
.quadrant.bottom-right {
	bottom: 0;
	right: 0;
	border-bottom-right-radius: 100%;
	transform-origin: top left;
}

.quadrant:hover {
	filter: brightness(1.05);
	transform: scale(1.05);
}

.label {
	font-size: 1.15rem;
}

.score {
	font-size: 1.2rem;
	font-weight: bold;
	color: rgb(var(--main-five));
}

.label,
.score {
	margin: 0;
	padding: 0;
}

.top-left .label {
	transform: translate(20%, 20%);
}
.top-right .label {
	transform: translate(-20%, 20%);
}
.bottom-left .label {
	transform: translate(20%, -20%);
}
.bottom-right .label {
	transform: translate(-20%, -20%);
}
.top-left .score {
	transform: translate(100%, 50%);
}
.top-right .score {
	transform: translate(-100%, 50%);
}
.bottom-left .score {
	transform: translate(100%, -0%);
}
.bottom-right .score {
	transform: translate(-100%, -0%);
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5;
	opacity: 0;
	animation: fadeIn 0.3s forwards;
}

.modal-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgb(var(--gray-one));
	background-color: rgb(var(--gray-eight));
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	border-radius: 8px;
	padding: 2rem;
	height: 20rem;
	width: 20rem;
	animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.modal-overlay.closing {
	animation: fadeOut 0.3s forwards;
}

.modal-container.closing {
	animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.modal-container h2 {
	font-size: 1.15rem;
	font-weight: normal;
	text-align: center;
	color: rgb(var(--gray-two));
}

.modal-container h1,
.modal-container h2 {
	margin: 0 0 0.5rem 0;
	padding: 0;
}

.criteria-scale {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.scale-element {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid rgb(var(--gray-seven));
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	cursor: pointer;
	background-color: rgb(var(--gray-five));
	transition: background-color 0.25s;
	font-weight: bold;
	color: rgb(var(--gray-eight));
}

.scale-element:hover {
	background-color: rgb(var(--gray-four));
}

.scale-element.active {
	background-color: rgb(var(--gray-seven));
	color: rgb(var(--main-five));
}

.scale-note {
	font-size: 0.85rem;
	text-align: center;
	color: rgb(var(--gray-three));
}

.scale-save-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 0.5rem 1rem;
	font-size: 1.15rem;
	border-radius: 12px;
	transition: border 0.2s, transform 0.2s, box-shadow 0.2s;
	background: none;
	will-change: transform;
	font-weight: 600;
	font-family: "Source Sans 3", sans-serif;
	border: 2px solid rgba(var(--main-five), 0.8);
	color: rgb(var(--gray-one));
	cursor: pointer;
	margin-top: 1rem;
}

.scale-save-btn:hover {
	border: 2px solid rgba(var(--main-five), 1);
	box-shadow: 0px 5px 15px rgba(255, 210, 128, 0.1);
	transform: scale(1.05);
}

/* Adjust section of homepage */
.main-container-adjust {
	display: flex;
	height: 100vh;
	width: 100%;
}

.sidebar-title {
	color: rgb(var(--gray-one));
}

.sidebar-adjust {
	background-color: rgb(var(--gray-nine));
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 24rem;
}

.divider-adjust {
	border-bottom: 1px solid rgba(var(--gray-one), 0.3);
	width: 90%;
}

.entries-container-adjust {
	width: 100%;
	height: 100%;
}

.entry-container-adjust {
	margin: 1rem;
	background-color: rgb(var(--main-four));
	border: 1px solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem 0 1rem;
	transition: filter 0.2s, transform 0.2s;
	position: relative;
	font-weight: bold;
	flex-wrap: wrap;
	cursor: pointer;
}

.entry-container-adjust > p {
	word-break: break-word;
}

.entry-container-adjust:hover {
	filter: brightness(0.88);
	transform: translateY(-2px);
}

.return-button.top-right {
	position: fixed;
	top: 1rem;
	right: 1rem;
}

.right-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(var(--gray-eight));
	width: 100%;
}

.right-container.selected {
	justify-content: normal;
	align-items: normal;
}

.select-entry-placeholder {
	color: rgba(220, 220, 220, 0.35);
	font-size: 3rem;
}

.adjust-top-section {
	background-color: rgb(var(--gray-eight));
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right-title {
	font-size: 3rem;
	margin: 1rem 0 -0.5rem 0;
	color: rgb(var(--gray-one));
}

.right-title.long {
	font-size: 2rem;
}

.right-date {
	font-size: 1.5rem;
	color: rgb(var(--gray-one));
	margin: 0 0 1rem 0;
}

.fields-containers {
	display: flex;
	gap: 5rem;
	margin-bottom: 2rem;
}

.fields-divider {
	width: 100%;
	border-bottom: 1px solid gray;
}

.fields-left-section,
.fields-right-section {
	width: 25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 1rem 4rem;
}

.fields-left-title,
.fields-right-title {
	margin-top: 0.5rem;
	color: rgb(var(--gray-one));
}

.left-fields-container,
.right-fields-container {
	width: 100%;
	color: rgb(var(--gray-one));
}

.field-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 0.25rem;
	min-height: 3rem;
	flex-wrap: wrap;
}

.field-line:not(.notes) > p:nth-of-type(2) {
	color: rgb(var(--main-five));
}

.field-line > p {
	font-weight: bold;
	margin: 0;
	word-break: break-word;
}

.adjust-bottom-section {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(var(--gray-seven));
}

.issues-title {
	color: rgb(var(--gray-one));
}

.issues-container {
	display: grid;
	gap: 4rem 8rem;
	padding: 1rem;
	grid-template-columns: repeat(4, 10rem);
	grid-auto-rows: 3rem;
	margin: 2rem;
	color: rgb(var(--gray-one));
}

.issue {
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.35s;
	font-size: 1.25rem;
	user-select: none;
	position: relative;
	border-radius: 6px;
	background-color: rgba(var(--gray-nine), 0.1);
	border: 2px solid rgba(var(--main-five), 0.7);
}

.issue:hover {
	transform: scale(1.05);
	background-color: rgba(var(--gray-nine), 0.5);
	border: 2px solid rgba(var(--main-five), 1);
}

.issue.selected {
	color: rgb(var(--gray-nine));
	background-color: rgba(var(--main-five), 1);
	box-shadow: 0px 5px 15px rgba(255, 210, 128, 0.2);
	font-weight: bold;
}

.issue-tooltip {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 0.5rem 0.75rem;
	border-radius: 4px;
	font-size: 0.85em;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.25s ease-in-out, visibility 0.25s;
	pointer-events: none;
	transform: translateX(-50%);
}

.issue-tooltip.visible {
	opacity: 1;
	visibility: visible;
}

.go-forward-btn {
	font-size: 1.25rem;
	padding: 0.35rem 1.4rem;
	margin-bottom: 5rem;
	opacity: 0.5;
	user-select: none;
	pointer-events: none;
	border-radius: 6px;
	font-weight: 500;
	transition: all 0.3s;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	border: 2px solid rgba(var(--gray-five), 1);
	background-color: rgba(var(--gray-nine), 0.5);
	font-family: "Source Sans 3", sans-serif;
	transition: all 0.3s;
	color: rgba(var(--gray-one), 0.8);
}

.go-forward-btn.clickable {
	opacity: 1;
	pointer-events: auto;
	cursor: pointer;
	border: 2px solid rgba(var(--main-five), 1);
}

.go-forward-btn:hover {
	box-shadow: 0px 5px 15px rgba(255, 210, 128, 0.2);
	border-color: rgba(var(--main-five), 1);
	color: rgba(var(--gray-one), 1);
	transform: translateY(-3px);
	background-color: rgba(var(--gray-nine), 1);
}

.analysis-container {
	color: white;
	margin-top: 7.5rem;
	max-height: 100vh;
	background-color: #57534e;
	padding: 1rem;
}

.analysis-item {
	background-color: #292524;
	padding: 1rem;
	height: 31rem;
	width: 41rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	display: none;
	opacity: 0;
	transform: none;
	position: absolute;
}

.analysis-item.active {
	opacity: 1;
	position: relative;
	display: flex;
}

.analysis-item.active .issue-title,
.analysis-item.active .analysis-solution {
	animation: fadeInSlide 0.6s;
}

@keyframes fadeInSlide {
	from {
		opacity: 0;
		transform: translateX(30px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.analysis-box {
	display: flex;
	justify-content: center;
}

.analysis-title {
	margin: 0 0 1rem 0;
	color: white;
}

.issue-title {
	margin: 0 0 1rem 0;
	color: white;
}

.analysis-solution {
	margin: 0 0 1rem 0;
	font-size: 1.15rem;
	line-height: 1.5rem;
	white-space: pre-wrap;
}

.analysis-btns {
	margin-top: 1rem;
	display: flex;
	gap: 1rem;
}

.prev-button,
.next-button,
.finish-button {
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
	border-radius: 12px;
	transition: filter 0.2s, transform 0.2s, box-shadow 0.2s;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	background-color: var(--golden-btn);
	will-change: transform;
	font-weight: 600;
	font-family: "Source Sans 3", sans-serif;
}

.prev-button:hover,
.next-button:hover,
.finish-button:hover {
	filter: brightness(92%);
	cursor: pointer;
	box-shadow: none;
	transform: scale(0.96);
}

@media (max-width: 1920px) {
	.issues-container {
		gap: 2rem 8rem;
		margin: 1rem;
	}

	.issues-title {
		margin-bottom: 0;
	}
}
