/* CSS File for Coffee Companion App - Home Page */

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Source Sans 3", sans-serif;
}

.main-container {
    display: grid;
    height: 100vh;
    width: 80vw;
    grid-template-columns: repeat(2, 1fr);
}

.log-container, .adjust-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Comfortaa", sans-serif;
    gap: 2rem;
    color: var(--text-beige);
}

.icon-container {
    width: clamp(6rem, calc(1rem + 10vw), 10rem);
    height: clamp(6rem, calc(1rem + 10vw), 10rem);
    background-color: rgb(148, 60, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.25s ease;
    user-select: none;
    border: 6px solid rgb(69, 30, 0);
}

.icon-container:hover {
    transform: scale(1.1);
}

.icon {
    height: clamp(3rem, calc(1rem + 5vw), 6rem);
    width: clamp(3rem, calc(1rem + 5vw), 6rem);
    filter: brightness(0) invert(1);
}

.label {
    font-size: clamp(1rem, calc(1rem + 1vw), 2rem);
}

/* Log section of homepage */
.main-container-log {
    height: 90vh;
    width: 85vw;
    background-color: var(--bg-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.entry-form {
    height: 90%;
    width: 95%;
    background-color: var(--bg-tan);
    border-radius: 12px;
    border: 1px solid;
    overflow-y: auto;
}

.entries-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 4rem 0 4rem;
    font-family: "Merriweather", sans-serif;
}

.divider {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin: 0 4rem 0 4rem;
}

.return-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.75rem;
    font-size: 0.85rem;
    border-radius: 12px;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: black;
    will-change: transform;
    color: white;
    font-weight: 500;
    font-family: "Source Sans 3", sans-serif;
}

.return-button:hover {
    cursor: pointer;
    box-shadow: none;
    transform: scale(0.98);
    background-color: rgb(30, 30, 30)
}

.entries-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0 2rem 0;
}

.entry-container {
    height: 10%;
    margin: 0 4rem 0 4rem;
    background-color: blanchedalmond;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    transition: background-color 0.15s, transform 0.15s, box-shadow 0.15s;
    position: relative;
}

.entry-container:hover {
    background-color: rgb(232, 208, 162);
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.delete-entry-button {
    position: absolute;
	right: -45px;
    background-color: transparent;
    color: rgb(255, 157, 0);
    border: none;
    transition: color 0.1s;
    font-size: 2.15rem;
    transition: color 0.1s, opacity 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.delete-entry-button:hover {
    color: rgb(255, 35, 35);
    cursor: pointer;
}

.entry-title {
    font-size: 1.25rem;
}

.add-entries-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0.5rem 1rem;
    font-size: 1.15rem;
    border-radius: 12px;
    transition: filter 0.2s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: rgb(252, 213, 55);
    will-change: transform;
    font-weight: 600;
    font-family: "Source Sans 3", sans-serif;
}

.add-entries-button:hover {
    filter: brightness(93%);
    cursor: pointer;
    box-shadow: none;
    transform: scale(0.98);
}

.entry-row {
	display: flex;
	margin-bottom: 0.25rem;
}

.view-entry-container {
	padding: 1rem;
	border: 1px solid black;
	border-radius: 8px;
	flex: 1;
}

.entry-row > .view-entry-container:first-child {
    margin-left: 4rem;
}

.entry-row > .view-entry-container:last-child {
    margin-right: 4rem;
    margin-left: 2rem;
}

.entry-row > .view-entry-container:only-child {
    margin-left: 4rem;
    margin-right: 4rem;
}

.entry-row > .new-entry-container:only-child {
    flex: 1;
}

.entry-input {
    border-radius: 8px;
    background-color: transparent;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

.entry-input:hover {
    background-color: #fcf3d8;
}

.entry-input:focus {
    background-color: rgb(252, 224, 153);
}

.new-entry-container {
	display: flex;
	flex-direction: column;
	flex: 0 0 calc(50%);
	padding: 0 4rem;
	box-sizing: border-box;
}

.new-entry-container.full-width {
    flex: 1 1 100%;
}

.new-entry-container > h2 {
    margin: 0;
    padding: 0;
}

.cancel-entries-button {
    background-color: transparent;
    color: rgb(255, 157, 0);
    border: none;
    transition: color 0.1s;
    font-size: 2.15rem;
    transition: color 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-entries-button:hover {
    color: rgb(255, 35, 35);
    cursor: pointer;
}

/* Adjust section of homepage */
.main-container-adjust {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
    width: 100%;
}

.sidebar-adjust {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-title {

}

.divider-adjust {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 90%;
}
.entries-container-adjust {
    width: 100%;
    height: 100%;
}

.entry-container-adjust {
    margin: 1rem;
    background-color: blanchedalmond;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    transition: background-color 0.15s, transform 0.15s, box-shadow 0.15s;
    position: relative;
    font-weight: bold;
}

.entry-container-adjust:hover {
    background-color: rgb(232, 208, 162);
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-container.selected {
    justify-content: normal;
    align-items: normal;
}

.select-entry-placeholder {
    color: rgba(220, 220, 220, 0.35);
    font-size: 3rem;
}

.adjust-top-section {
    background-color: rgb(150, 108, 57);
    flex: 1;
}

.adjust-bottom-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.issues-title {
    color: white;
}

.issues-container {
    display: grid;
    gap: 4rem 8rem;
    padding: 1rem;
    grid-template-columns: repeat(4, 10rem); 
    grid-auto-rows: 3rem;
    margin: 2rem;
}

.issue {
    background-color: gray;
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 1.5rem;
    user-select: none;
}

.issue:hover {
    transform: scale(1.05);
}

.issue.selected {
    background-color: greenyellow;
}

.issue-tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    font-size: 0.85em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out, visibility 0.25s;
    pointer-events: none;
    transform: translateX(-50%);
}

.issue-tooltip.visible {
    opacity: 1;
    visibility: visible;
}

.go-forward-btn {
    font-size: 1.5rem;
    padding: 0.25rem 0.75rem;
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
}

.go-forward-btn.clickable {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

.analysis-container {
    color: white;
    max-width: 50rem;
    max-height: 100vh;

}

.analysis-item {
    border: 2px solid red;
}

.analysis-box {
    border: 2px solid white;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}

.analysis-title {
    margin: 0;
}

.analysis-solution {
    margin: 0 0 1rem 0;
    background-color: black;
}

.analysis-btns {
    display: flex;
}

.prev-button, .next-button, .finish-button {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
}