/* CSS File for Coffee Companion App - Index Page */
* {
	margin: 0;
	padding: 0;
}

body {
	background: var(--bg-filter);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow-anchor: none;
}

.bg-image {
	position: fixed;
	width: 100vw;
	height: 100vh;
	filter: blur(6px) brightness(0.75);
	opacity: 0.3;
	z-index: -1;
	object-fit: cover;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin-top: 3rem;
}

h1 {
	font-size: 8.5rem;
	color: rgb(var(--gray-one));
	font-family: "1";
	font-weight: normal;
	margin-bottom: 0.5rem;
}

.divider {
	width: 5rem;
	height: 2px;
	background: rgb(var(--gray-one));
	border-radius: 1px;
	margin-bottom: 2.25rem;
}

h2 {
	font-size: 1.5rem;
	color: rgb(var(--gray-one));
	font-family: "Comfortaa";
	display: flex;
	margin-bottom: 4rem;
	font-weight: normal;
}

.start-btn {
	padding: 0.5rem 2.5rem;
	font-size: 1.5rem;
	font-family: "Source Sans 3", sans-serif;
	border: 2px solid rgba(var(--main-five), 0.7);
	background-color: rgba(var(--gray-nine), 0.25);
	border-radius: 6px;
	font-weight: 500;
	color: rgba(var(--gray-one), 0.8);
	margin-bottom: 10rem;
	cursor: pointer;
	transition: all 0.3s;
}

.start-btn:hover {
	box-shadow: 0px 5px 15px rgba(255, 210, 128, 0.2);
	border-color: rgba(var(--main-five), 1);
	color: rgba(var(--gray-one), 1);
	transform: translateY(-3px);
	background-color: rgba(var(--gray-nine), 1);
}

.features {
	font-size: 1.65rem;
	color: rgb(var(--main-four));
	display: flex;
	font-family: "Comfortaa", sans-serif;
	justify-content: space-evenly;
	width: 100%;
	gap: 2rem;
	flex-wrap: wrap;
}

.feature {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	transition: transform 0.35s;
	cursor: pointer;
	text-align: center;
}

.icon-container {
	width: 6.5rem;
	height: 6.5rem;
	border: 3px solid rgba(var(--main-five), 0.7);
	background-color: rgba(var(--gray-nine), 0.25);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	transition: all 0.45s;
}

.icon-container:active {
	transform: scale(0.9);
}

.feature:hover {
	transform: translateY(-5px);
}

.feature:hover .icon-container {
	border-color: rgb(var(--main-five));
	background-color: rgba(var(--gray-nine), 1);
	box-shadow: 0 0 15px 5px rgba(212, 162, 118, 0.15);
	filter: brightness(1.05);
}

.feature p {
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity 0.45s, transform 0.45s;
	font-size: 1.15rem;
	color: rgb(var(--gray-two));
	width: 20rem;
	height: 0;
	line-height: 1.5rem;
	font-family: "Source Sans 3";
}

.feature:hover p {
	opacity: 1;
	transform: translateY(-5px);
}

.icon {
	filter: brightness(0) invert(1);
	width: 3.25rem;
	height: 3.25rem;
}

@media (max-width: 1920px) {
	/* Desktops */
	h1 {
		font-size: 6.5rem;
		margin-bottom: 0.5rem;
	}

	.divider {
		margin-bottom: 1.75rem;
	}

	h2 {
		font-size: 1.5rem;
		margin-bottom: 3.5rem;
	}

	.start-btn {
		padding: 0.45rem 1.3rem;
		font-size: 1.25rem;
		margin-bottom: 6.5rem;
	}

	.features {
		font-size: 1.45rem;
		gap: 1.75rem;
	}

	.feature {
		gap: 1.75rem;
	}

	.icon-container {
		width: 5.75rem;
		height: 5.75rem;
	}

	.icon {
		width: 2.875rem;
		height: 2.875rem;
	}
}

@media (max-width: 1540px) {
	/* Smaller Desktops */
	h1 {
		font-size: 4.5rem;
		margin-bottom: 0.5rem;
	}

	.divider {
		width: 4.5rem;
		margin-bottom: 1.25rem;
	}

	h2 {
		font-size: 1.15rem;
		margin-bottom: 2.5rem;
	}

	.start-btn {
		padding: 0.4rem 1.25rem;
		font-size: 1rem;
		margin-bottom: 5rem;
	}

	.features {
		font-size: 1rem;
		gap: 1.25rem;
	}

	.feature {
		gap: 1.25rem;
	}

	.feature p {
		font-size: 0.85rem;
		width: 15rem;
	}

	.icon-container {
		width: 4.25rem;
		height: 4.25rem;
	}

	.icon {
		width: 2.15rem;
		height: 2.15rem;
	}
}

@media (max-width: 1200px) {
	/* Even smaller desktops, tablets */
	h1 {
		font-size: 6rem;
		margin-bottom: 0.5rem;
	}

	.divider {
		width: 4.5rem;
		margin-bottom: 1.25rem;
	}

	h2 {
		font-size: 1.25rem;
		margin-bottom: 2rem;
	}

	.start-btn {
		padding: 0.5rem 1.5rem;
		font-size: 1rem;
		margin-bottom: 3rem;
	}

	.features {
		font-size: 1rem;
		gap: 1.25rem;
		margin-bottom: 5rem;
	}

	.feature {
		gap: 1.25rem;
		width: 25rem;
	}

	.feature p {
		font-size: 0.75rem;
		width: 15rem;
		line-height: 1.15rem;
	}

	.icon-container {
		width: 4rem;
		height: 4rem;
	}

	.icon {
		width: 1.95rem;
		height: 1.955rem;
	}
}

@media (max-width: 768px) {
	/* Small screens, tablets */
	h1 {
		font-size: 5rem;
		margin-bottom: 0.5rem;
	}

	.divider {
		width: 4.5rem;
		margin-bottom: 1.25rem;
	}

	h2 {
		font-size: 1.25rem;
		margin-bottom: 2rem;
	}

	.start-btn {
		padding: 0.5rem 1.5rem;
		font-size: 1rem;
		margin-bottom: 3rem;
	}

	.features {
		font-size: 1rem;
		gap: 5rem;
		margin-bottom: 5rem;
	}

	.feature {
		gap: 1.25rem;
		width: 25rem;
	}

	.feature p {
		font-size: 0.75rem;
		width: 15rem;
		line-height: 1.15rem;
	}

	.icon-container {
		width: 4rem;
		height: 4rem;
	}

	.icon {
		width: 1.95rem;
		height: 1.955rem;
	}
}
