/* CSS File for Coffee Companion App - Home Page */

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    color: var(--text-beige);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: grid;
    height: 100vh;
    width: 80vw;
    grid-template-columns: repeat(2, 1fr);
}

.log-container, .adjust-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Comfortaa", sans-serif;
    gap: 2rem;
}

.icon-container {
    width: clamp(6rem, calc(1rem + 10vw), 10rem);
    height: clamp(6rem, calc(1rem + 10vw), 10rem);
    background-color: rgb(148, 60, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.25s ease;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    user-select: none;
    border: 6px solid rgb(69, 30, 0);
}

.icon-container:hover {
    transform: scale(1.1);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
}

.icon {
    height: clamp(3rem, calc(1rem + 5vw), 6rem);
    width: clamp(3rem, calc(1rem + 5vw), 6rem);
    filter: brightness(0) invert(1);
}

.label {
    font-size: clamp(1rem, calc(1rem + 1vw), 2rem);
}
